body {
    background: none;
}
.landing_wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .landing_content {
        width: 400px;
        padding: 25px 30px;
        background: #fff;
        box-shadow: 2px 5px 20px #33333329;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
}
.landing_logo_wrapp {
    text-align: center;
    margin: 0 0 20px;
}
.form-group {
    display: flex;
    margin: 0 0 15px;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
    label {
        margin: 0;
        line-height: 15px;
        font-size: 15px;
    }
    .form-control {
        border-radius: 0;
        border: none;
        border-bottom: 1px solid #dee2e6;
        padding: 0;
        height: 35px;
    }
}
.form-control {
    &:focus, &:hover, &:active, &:focus-visible, &:visited {
        box-shadow: none;
    }
}
.form_error {
    font-size: 10px;
    padding: 2px 0 0;
    color: #d20f10;
}
.forgot_wrapp {
    a {
        &:hover {
            color: #f00;
        }
    }
}
.remember_wrap {
    label {
        display: flex;
        align-items: center;
    }
}
.remember_forgot {
    display: flex;
    margin: 0 0 15px;
    align-items: center;
    justify-content: space-between;
    .remember_wrap, .forgot_wrapp {
        font-size: 13px;
    }
}
.btn-primary {
    background: #d20f10;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 14px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    &:hover {
        background: #8e0000;
    }
}

header {
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 10px #33333330;
}
.header_wrapp {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu_wrapp {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
nav {
    margin: 0 20px 0 0;
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        li {
            list-style: none;
            a {
                font-size: 14px;
                padding: 0 0 0 20px;
                font-weight: 500;
            }
        }
    }
}
.user_data_main {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.user_data_avatar {
    width: 40px;
    height: 40px;
    // background: radial-gradient(#fb2122, #940001);
    background: #fb5d5d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    margin: 0 10px 0 0;
}
.user_data_name {
    font-size: 13px;
    font-weight: 600;
}
.user_design {
    font-size: 11px;
    color: #746e6e;
    line-height: 12px;
}
.footer {
    background: #fff;
    box-shadow: 0px 0 10px rgba(159, 151, 151, 0.4392156863);
    padding: 10px 0;
    margin: 50px 0 0;
    p {
        margin: 0;
        font-size: 13px;
        text-align: center;
    }
}