@media (min-width: 600px) {
    .css-hyum1k-MuiToolbar-root {
        padding: 0 15px;
    }
    .css-11mde6h-MuiPaper-root {
        border-radius: 10px;
    }
}
@media (max-width: 1399px) {
    .subMenusWrapper {
        .subMenu {
            width: 32%;
        }
    }
}
@media (max-width: 1199px) {}
@media (max-width: 991px) {
    .subMenusWrapper {
        .subMenu {
            width: 48%;
        }
    }
}
@media (max-width: 767px) {}
@media (max-width: 575px) {
    .subMenusWrapper {
        .subMenu {
            width: 100%;
        }
    }
}
@media (max-width: 480px) {}